$gray-darker: #444444;
$gray-dark: #696969;
$gray: #999999;
$gray-light: #cccccc;
$gray-lighter: #ececec;
$gray-lightest: lighten($gray-lighter, 4%);

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: flex;
    padding: 1rem;
    @media(min-width: 40rem) {
      width: 50%;
    }
    @media(min-width: 56rem) {
      width: 33.3333%;
    }
  }

  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &:hover {
      .card__image {
        filter: contrast(100%);
      }
    }

    .btn--block {
      display: block;
    }

    &__content {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      padding: 1rem;
    }

    &__image {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      filter: contrast(70%);
      //filter: saturate(180%);
      overflow: hidden;
      position: relative;
      transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);;

      &::before {
        content: "";
        display: block;
        padding-top: 56.25%; // 16:9 aspect ratio
      }

      @media(min-width: 40rem) {
        &::before {
          padding-top: 66.6%; // 3:2 aspect ratio
        }
      }

      &--flowers {
        background-image: url(https://unsplash.it/800/600?image=82);
      }

      &--river {
        background-image: url(https://unsplash.it/800/600?image=11);
      }

      &--record {
        background-image: url(https://unsplash.it/800/600?image=39);
      }

      &--fence {
        background-image: url(https://unsplash.it/800/600?image=59);
      }
    }

    &__title {
      color: $gray-dark;
      font-size: 1.25rem;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    &__text {
      flex: 1 1 auto;
      font-size: 0.875rem;
      line-height: 1.5;
      margin-bottom: 1.25rem;
    }

  }
}

