.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -10px;
  padding: 10px 0;
  overflow-x: hidden;

  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.col-inner {
  background-color: gray;
  padding: 20px;
  height: 10px;
}

@for $i from 1 through $colset {
  .col-{
    &#{$i} {
      padding: 0 10px;
      flex-basis: percentage($i/$colset);
    }
  }
}

@for $i from 1 through 5 {
  .p{
    &-#{$i} {
      padding: percentage($i/100);
    }
    &l-#{$i} {
      padding-left: percentage($i/100);
    }
    &r-#{$i} {
      padding-right: percentage($i/100);
    }
    &t-#{$i} {
      padding-top: percentage($i/100);
    }
    &b-#{$i} {
      padding-bottom: percentage($i/100);
    }
  }
  .m{
    &-#{$i} {
      margin: percentage($i/100);
    }
    &l-#{$i} {
      margin-left: percentage($i/100);
    }
    &r-#{$i} {
      margin-right: percentage($i/100);
    }
    &t-#{$i} {
      margin-top: percentage($i/100);
    }
    &b-#{$i} {
      margin-bottom: percentage($i/100);
    }
  }
}

@media screen and (min-width: 1440px) {
  @for $i from 1 through $colset {
    .col-lg-#{$i} {
      padding: 0 10px;
      flex-basis: percentage($i/$colset);
    }
  }
}

@media screen and (min-width: 587px) and (max-width: 1440px) {
  @for $i from 1 through $colset {
    .col-md-#{$i} {
      padding: 0 10px;
      flex-basis: percentage($i/$colset);
    }
  }
}

@media screen and (max-width: 587px) {
  @for $i from 1 through $colset {
    .col-sm-#{$i} {
      padding: 0 10px;
      flex-basis: percentage($i/$colset);
    }
  }
}

