$bg-error:rgba(217, 53, 46, 0.7);
$border-error: rgb(191, 0, 6);

$blue:#00F;
$gray: #5e5e5e;
$black:#000;
$red:#F00;
$vert:#0F0;
$dark-blue:#00F;
$dark-red:#F00;
$dark-vert: #006800;
$light-blue: #3498db;
$light-gray:#AAA;
$light-red: rgba(255, 60, 52, 0.79);
$light-vert: rgba(0, 255, 0, 0.5);
$orange: #ffbf2e;
$white: #FFF;
$background : #364885;
$checkbox-activeColor: #27ae60; //green
$checkbox-darkenColor: darken($checkbox-activeColor, 20%);
$colset: 12;